html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow-x: hidden;
}
.background {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('https://i.imgur.com/6DZUXPe.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 95%; 
  height: 55rem; 
}

h1 {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  color: #fff; 
  font-size: 2rem; 
  max-width: 100%;
  width: 70rem;
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

h2 {
  position: absolute;
  top: 32%;
  left: 68%;
  transform: translateX(-39%);
  color: #fff;
  font-size: 1.0rem;
  max-width: 100%;
  width: 57rem;
  text-align: center;
  line-height: 41px;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
}

.info-span {
  position: absolute;
  top: 34%; 
  left: 22%;
  transform: translateX(-50%);
  color: #fff; 
  font-size: 1.5rem; 
  max-width: 100%;
  width: 20rem;
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

.email-button {
 
  padding: 25px 55px;
  background-color: #1c1c17;
  color: #fff;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgb(6, 31, 5, 0.1);
  position: relative;
  transition: all 0.2s ease;
  font-size: 20px;
  margin-top: 42rem;
}

.email-button:hover {
  background-color: #707070;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.email-button::before {
  content: '\2709';
  font-size: 20px;
  margin-right: 10px;
}